<table>
	<tr>
		<td>Numero dept : <%= @annuaire.num_dept %></td>
	</tr>
	<tr>
		<td>Nom dept : <%= @annuaire.nom_dpt %></td>
	</tr>
	<tr>
		<td>Commune : <%= @annuaire.commune %></td>
	</tr>
	<tr>
		<td>Email : <%= @annuaire.email %></td>
	</tr>
</table>